#!/usr/bin/env ansible-playbook
---
{% for component in components %}{% if component.placement != 'OTHER' %}{% if component.placement != 'ROUTER' %}{% if component.user != '' %}
{% if component.max == 1 %}
- name: Unset nr
  hosts:        localhost
  connection:   local
  gather_facts: false
  tasks:
  - name: Set nr = ""
    set_fact:
      nr: ""
- name: Create {{component.name}}
  import_playbook: {{component.name}}/create.yml
{% else %}
{% for index in range(component.max) %}
- name: Set nr {{index+1}}
  hosts:        localhost
  connection:   local
  gather_facts: false
  tasks:
  - name: Set nr = {{index+1}}
    set_fact:
      nr: {{index+1}}
- name: Create {{component.name}} {{index+1}}
  import_playbook: {{component.name}}/ssh.yml
{% endfor %}
{% endif %}
{% endif %}{% endif %}{% endif %}{% endfor %}
